<?xml version="1.0"?>
<model>
  <name>circle_track_10m</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>BFMC Engineer</name>
  </author>
  <description>
    10m Diameter Circular Track with pure black background and standard BFMC lane markings.
  </description>
</model>
